.section {
  width: 100%;
  padding: 5rem 0;
  border-bottom: 1px solid black;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.competitionsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .competitionsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .competitionsGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }
}
